*{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none;
    touch-action: manipulation;  
}

#app{
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--Surface);
    overflow: hidden;
}


::selection{
    background-color: var(--Inverse-Primary);
    color: var(--On-Surface);
}

::placeholder{
    color: var(--On-Surface-Variant);
    opacity: 0.6;
}

md-icon-button, md-icon{
    flex-shrink: 0;
}

[hidden]{
    display: none !important;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
  
.floatfab_div{
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    display: none;

}

.header_search{
    padding: 12px 15px;
    height: calc(75px - 22px - 1.5px);
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid transparent;
    transition: padding 0.15s ease-out;
}

.header_search.enabled{
    border-bottom: 1.5px solid var(--Outline);
    padding: 10px 0px;
}


.header_search .search_container{
    background-color: var(--Surface-Container-High);
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 50px;
    gap: 10px;
    position: relative;
    width: 100%;
}

.header_search .search_container input{
    background-color: transparent;
    caret-color: var(--Primary);
    border: none;
    font-family: var(--google-normal);
    font-size: 17px;
    width: 100%;
    color: var(--On-Surface);
}

.water_mark{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 200px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
    color: var(--On-Surface-Variant);
}

.water_mark p{
    margin: 0;
    font-family: var(--google-normal);
    font-size: 30px;
}

.water_mark i{
    font-size: 40px;
}

.search_container_screen{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--Surface-Container-High);
    z-index: 4;
    animation: search_container_screen 0.15s ease-in;
}

@keyframes search_container_screen{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


flex{
    flex: 1;
}

.saved-notes, .saved-notesPinned{
    padding: 20px;
    padding-top: 0;
    z-index: 2;
}

.saved-notes #savedNotesList, .saved-notesPinned #pinnedNotesList, .saved-notes #binNotesList {
    column-count: 2;
    gap: 10px;
}

.saved-notes #savedNotesList.cardsView, .saved-notesPinned #pinnedNotesList.cardsView, .saved-notes #binNotesList.cardsView{
    display: flex !important;
    flex-direction: column !important;
    gap: 5px !important;
}

.saved-notes #savedNotesList.cardsView noteTileWrap, .saved-notesPinned #pinnedNotesList.cardsView noteTileWrap, .saved-notes #binNotesList.cardsView noteTileWrap{
    border-radius: 15px;
}

.saved-notes #savedNotesList noteTileWrap, .saved-notesPinned #pinnedNotesList noteTileWrap, .saved-notes #binNotesList noteTileWrap {
    display: inline-block;
    width: calc(100% - 10px - 10px);
    background-color: var(--Surface-Container-Low);
    border-radius: 10px;
    margin-bottom: 6px;
    padding: 10px;
    max-height: 120px;
    overflow: hidden;
    position: relative;
    padding-bottom: 35px;

}

[colorTheme="light"] .saved-notes #savedNotesList noteTileWrap, [colorTheme="light"] .saved-notesPinned #pinnedNotesList noteTileWrap, [colorTheme="light"] .saved-notes #binNotesList noteTileWrap{
    background-color: var(--Surface-Container);
}


[colorTheme="light"] .saved-notes #savedNotesList noteTileWrap span::before, [colorTheme="light"] .saved-notesPinned #pinnedNotesList noteTileWrap span::before, [colorTheme="light"] .saved-notes #binNotesList noteTileWrap span::before{
    background: linear-gradient(0deg, var(--Surface-Container) 10%, rgba(255, 0, 0, 0)) !important;

}

.saved-notes #savedNotesList noteTileWrap p, .saved-notesPinned #pinnedNotesList noteTileWrap p, .saved-notes #binNotesList noteTileWrap p{
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--google-mid);
    color: var(--On-Surface);
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}

.saved-notes #savedNotesList noteTileWrap span, p_content, .saved-notesPinned #pinnedNotesList noteTileWrap span, .saved-notes #binNotesList noteTileWrap span{
    opacity: 0.4;
    font-family: var(--google-normal);
    overflow: hidden;
    position: relative;
    max-height: 60px;
    display: block;
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    word-break: break-word;
    text-overflow: ellipsis;
    flex-direction: column;

}

.saved-notes #savedNotesList noteTileWrap span pre, p_content pre, .saved-notesPinned #pinnedNotesList noteTileWrap span pre, .saved-notes #binNotesList noteTileWrap span pre{
    margin: 0;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.saved-notes #savedNotesList noteTileWrap span ul, p_content ul, .saved-notesPinned #pinnedNotesList noteTileWrap span ul, .saved-notes #binNotesList noteTileWrap span ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.saved-notes #savedNotesList noteTileWrap span ol, p_content ol, .saved-notesPinned #pinnedNotesList noteTileWrap span ol, .saved-notes #binNotesList noteTileWrap span ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.saved-notes #savedNotesList noteTileWrap span h1, .saved-notes #savedNotesList noteTileWrap span h2, .saved-notes #savedNotesList noteTileWrap span h3, .saved-notes #savedNotesList noteTileWrap span h4{
    margin-top: 0;
    font-size: 18px;
}

.saved-notesPinned #pinnedNotesList noteTileWrap span h1, .saved-notesPinned #pinnedNotesList noteTileWrap span h2, .saved-notesPinned #pinnedNotesList noteTileWrap span h3, .saved-notesPinned #pinnedNotesList noteTileWrap span h4{
    margin-top: 0;
    font-size: 18px;
}

p_content h1, p_content h2, p_content h3, p_content h4{
    margin-top: 0;
    font-size: 18px;
}

.saved-notes #binNotesList noteTileWrap span h1, .saved-notes #binNotesList noteTileWrap span h2, .saved-notes #binNotesList noteTileWrap span h3, .saved-notes #binNotesList noteTileWrap span h4{
    margin-top: 0;
    font-size: 18px;
}

.saved-notes #savedNotesList noteTileWrap span::before, p_content::before, .saved-notesPinned #pinnedNotesList noteTileWrap span::before, .saved-notes #binNotesList noteTileWrap span::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    background: linear-gradient(0deg, var(--Surface-Container-Low) 10%, rgba(255, 0, 0, 0));
    height: 10px;
    z-index: 1;
}



.noteCheckboxWrap{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;

}

.noteCheckboxWrap check_label{
    position: absolute;
    right: 10px;
    bottom: 10px !important;
    height: 18px;
    overflow: hidden;
    width: 18px;
}
.saved-notes #savedNotesList noteTileWrap time, .saved-notesPinned #pinnedNotesList noteTileWrap time, .saved-notes #binNotesList noteTileWrap time{
    position: absolute;
    bottom: 8px;
    z-index: 1;
    font-family: var(--google-mid);
    font-size: 11px;
    left: 10px;
    color: var(--On-Surface-Variant);
    opacity: 0.7;
}

#notesContainerSearched{
    position: fixed;
    top: 80px;
    width: calc(100% - 0px);
    padding: 10px;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    height: calc(100% - 80px - 20px);
}

#notesContainerSearched searchednote{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    gap: 5px;
    position: relative;
    max-height: 100px;
    padding-top: 0;
    border-bottom: 1.2px solid var(--Outline-Variant);

}

p_content::before{
    background: linear-gradient(0deg, var(--Surface-Container-High) 10%, rgba(255, 0, 0, 0)) !important;

}

p_content{
    max-height: 80px !important;
}


#notesContainerSearched searchednote p{
    font-family: var(--google-mid);
    color: var(--Primary);
    margin: 0;
    font-size: 17px;
}

#notesContainerSearched searchednote span{
    font-family: var(--google-normal);
    color: var(--On-Surface-Variant);
    font-size: 14px;
}

textheading{
    font-family: var(--google-mid);
    color: var(--Secondary);
    font-size: 30px;
    padding: 20px;
    display: block;
    padding-top: 0px;
}

.main_app_wrap{
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 76px - 120px);
    padding-bottom: 120px;
}

.main_app_wrap::before{
    position: fixed;
    top: 76px;
    content: '';
    width: 100%;
    background: linear-gradient(180deg, var(--Surface) 10%, rgba(255, 0, 0, 0));
    height: 30px;
    z-index: 3;
    opacity: 0;
    transition: 0.2s ease-in;
}

.main_app_wrap.scrolled::before{
    opacity: 1;
}

load_theme{
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: var(--Surface);
    position: fixed;
    left: 0;
    top: 0;
}

 a{
    color: var(--Tertiary);
}

note_label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid var(--Outline-Variant);
}


note_label p{
    color: var(--On-Secondary-Container);
    font-family: var(--google-normal);
    font-size: 15px;
    background-color: var(--Secondary-Container);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    margin: 0;

}

note_label div{
    display: flex;
    align-items: center;
    gap: 10px;
}

note_label div md-icon{
    color: var(--On-Surface);
}

#label_holder{
    z-index: 3;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    gap: 8px;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    flex-shrink: 0;
}

#label_holder.stackView{
    display: block;
    margin-bottom: calc(20px - 8px);
    padding-left: 16px;
    padding-right: 16px;
}

#label_holder.stackView > md-filter-chip {
    margin-bottom: 8px;
    margin-right: 8px;
}

blockquote{
    margin: 0;
}


.switch-small{
    --md-switch-pressed-handle-height: 16px;
    --md-switch-pressed-handle-width: 16px;
    --md-switch-track-width: 42px;
    --md-switch-track-height: 22px;
    --md-switch-selected-handle-height: 16px;
    --md-switch-selected-handle-width: 16px;
}

.lock_labels{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Secondary);
    font-size: 30px;
    font-family: var(--google-mid);
}

.inputs_lock_create_new{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.input_create_pass{
    background-color: var(--Surface-Container-High);
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 50px;
    gap: 10px;
    position: relative;
    width: 100%;
}
.input_create_pass input{
    background-color: transparent;
    caret-color: var(--Primary);
    border: none;
    font-family: var(--google-normal);
    font-size: 18px;
    width: 100%;
    color: var(--On-Surface);
}


.input_pin_keys{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.input_pin_keys .input_pin_keys_grid button{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--google-normal);
    color: var(--On-Surface);
    background-color: var(--Surface-Container);
    position: relative;
}

.input_pin_keys .input_pin_keys_grid button[disabled]{
    opacity: 0.4;
    pointer-events: none;
}

.input_pin_keys .input_pin_keys_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.lockedlabel, .binLabel{
    position: relative;
}

.lockedlabel::before, .binLabel::before{
    content: 'lock';
    font-family: 'Material symbols';
    font-weight: normal !important;
    font-style: normal !important;
    font-variation-settings: 'FILL' 1;
    line-height: 1;
    position: absolute;
    right: -5px;
    top: -10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: var(--Error);
    color: var(--On-Error);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.binLabel::before{
    content: 'auto_delete';
}

.hiddenNoteLabel{
    display: none !important;
}

#colorPickerSheetContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
}


notetilewrap{
    animation: notetilewrapEnter 0.2s ease-in;
}



@keyframes notetilewrapEnter{
    0%{
        transform: translateY(10%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

/* List view code */

.saved-notes #savedNotesList.listView, .saved-notesPinned #pinnedNotesList.listView, .saved-notes #binNotesList.listView{
    display: flex !important;
    flex-direction: column !important;
    gap: 0px !important;
}

.saved-notes #savedNotesList.listView noteTileWrap, .saved-notesPinned #pinnedNotesList.listView noteTileWrap, .saved-notes #binNotesList.listView noteTileWrap{
    border-radius: 15px;
    display: inline-block;
    width: calc(100% - 10px - 10px);
    background-color: var(--Surface-Container-Low);
    border-radius: 0 !important;
    margin-bottom: 0px;
    padding: 10px;
    height: 40px;
    overflow: hidden;
    position: relative;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--Outline-Variant);
}

.saved-notes #savedNotesList.listView noteTileWrap:first-child, .saved-notesPinned #pinnedNotesList.listView noteTileWrap:first-child, .saved-notes #binNotesList.listView noteTileWrap:first-child{
    border-radius: 10px 10px 0 0 !important;
}

.saved-notes #savedNotesList.listView noteTileWrap:last-child, .saved-notesPinned #pinnedNotesList.listView noteTileWrap:last-child, .saved-notes #binNotesList.listView noteTileWrap:last-child{
    border-radius: 0px 0px 10px 10px !important;
    border: none !important;
}

.saved-notes #savedNotesList.listView noteTileWrap:only-child, .saved-notesPinned #pinnedNotesList.listView noteTileWrap:only-child, .saved-notes #binNotesList.listView noteTileWrap:only-child{
    border-radius: 10px !important;
    border: none !important;
}


.saved-notes #savedNotesList.listView noteTileWrap span::before, .saved-notesPinned #pinnedNotesList.listView noteTileWrap span::before, .saved-notes #binNotesList.listView noteTileWrap span::before{
    background: linear-gradient(0deg, var(--Surface-Container) 10%, rgba(255, 0, 0, 0)) !important;

}

.saved-notes #savedNotesList noteTileWrap span hr, p_content hr, .saved-notesPinned #pinnedNotesList noteTileWrap span hr, .saved-notes #binNotesList noteTileWrap span hr{
    display: none;
}

.saved-notes #savedNotesList.listView noteTileWrap span, .saved-notesPinned #pinnedNotesList.listView noteTileWrap span, .saved-notes #binNotesList.listView noteTileWrap span {
    height: 20px !important;
    font-size: 14px !important;
}


/* bin note icon */

.deletedBinNote::after{
    content: 'restore_from_trash';
    font-family: 'Material symbols';
    font-weight: normal !important;
    font-style: normal !important;
    font-variation-settings: 'FILL' 1;
    line-height: 1;
    position: absolute;
    right: -6px;
    top: -6px;
    border-radius: inherit;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--On-Error-Container);
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, var(--Error-Container) 0%, rgba(0,0,0,0) 100%);
}

.deletedBinNote{
    background-color: var(--Error-Container) !important;
}

.saved-notes #binNotesList noteTileWrap.deletedBinNote span::before{
    background: linear-gradient(0deg, var(--Error-Container) 10%, rgba(255, 0, 0, 0)) !important;
}